#forgot-container {
  margin: 0 auto;
}

#container {
    border: 2px solid black;
    width: 400px;
    padding:30px;
    margin: 130px auto;
    height: 300px;
    
}

#container h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

#container h6 {
  margin-bottom: 20px;
  font-weight: normal;
  color: #777;
  text-align: center;
  margin-top: 5px;

}

#container p {
  text-align: left;
  margin-bottom: 6px;
  color: #444;
  font-weight: 500;
}

#container input[type="email"] {
  width: 91%;
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

#container input[type="email"]:focus {
  border-color: #0291f8;
}

#container button {
  width: 100%;
  padding: 10px 0;
  background-color: #0291f8;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

#container button:hover {
  background-color: #0056b3;
}

#container a {
  display: block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

#container a:hover {
  text-decoration: underline;
  
}

